.create-order-container {
  width: 1300px;
  margin: 0px auto;
  background-color: #fff9f7;
  padding: 40px 20px;
}

.create-order-inner-container {
  display: flex;
  justify-content: space-between;
}

.chemical-physical-tests-container {
  display: flex;
}

.chemical-physical-tests-container div {
  display: flex;
  flex-direction: column;
}

.chemical-physical-tests-container div select {
  width: 300px !important;
}

.file-input {
  margin: 4px 0px 18px 0px;
}

.create-order-dropdown {
  display: flex;
  flex-wrap: wrap;
}

.test-items-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 20px;
}

.test-item {
  border: 1px solid #ff5821;
  border-radius: 2px;
  padding: 8px 8px 8px 16px;
  margin: 2px 16px 4px 0px;
  background-color: #fff;
  font-size: 10px;
  position: relative;
  display: inline;
}

.testitem-deleteBtn {
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: #fff;
  color: #ff5821;
  border: 1px solid #ff5821;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  z-index: 1;
}

.testitem-deleteBtn:hover {
  background-color: #ff5821;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.3s;
}

.tests-input-container {
  margin-top: 20px;
  background-color: white;
  border: 1px solid #999;
  padding: 20px;
}
